/* index.css */

/* Сброс отступов и установка базовых размеров */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Основные стили для body */
  body {
    background-color: #121212; /* Темный фон */
    color: #e0e0e0;            /* Светлый текст */
    font-family: 'Roboto', sans-serif; /* Основной шрифт */
    scroll-behavior: smooth;   /* Плавный скролл */
  }
  
  /* Стили для ссылок */
  a {
    color: #9e9e9e;
    text-decoration: none;
  }
  
  /* Дополнительные глобальные стили, если потребуется */
  /* Например, можно добавить стили для заголовков, абзацев и т.д. */
  